<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-2">
            <a href="instance.html?" id="return-a-disp" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
          </div>
          <div id="nombre-dispositivo" class="col-xs-10">
            <h4>Dispositivo</h4>
          </div>
        </div>

      </div>
      <div class="panel-body">
        <p>Métricas del dispositivo seleccionado.</p>
      </div>
      <table id="tabla-stats" class="table">
        <tr>
          <th>Instantáneo</th>
          <th>Media semanal</th>
          <th>Varianza</th>
        </tr>
        <tr>
            <td>43</td>
            <td>40</td>
            <td>12</td>
        </tr>
      </table>

    </div class="row">
    <div class="col-xs-12">
      <a href="logs.html" type="button" class="btn btn-default btn-lg btn-block">
        Histórico completo
      </a>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/app/controllers/device.js"></script>
  <script src="/vendor/js/http.js"></script>
</body>
</html>
