<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

  <style>
  a:hover, a:active {
      text-decoration: none;
  }
  a:link, a:hover, a:active, a:visited {
    color: black;
  }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-2">
            <a href="index.html" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
          </div>
          <div id="nombre-estancia" class="col-xs-5">
            <h4>Nombre estancia</h4>
          </div>
          <div class="col-xs-5 text-right">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#adddevice">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>

      </div>
      <div class="panel-body">
        <p>Aquí podrás ver un listado de los dispositivos conectados en la estancia X.</p>
        <p><b>Toca un aparato para conocer más detalles.</b></p>
      </div>

      <div class="list-group">
        <div id="lista-dispositivos" class="list-group-item">
        </div>
      </div>
    </div>
  </div>

  <!-- modal botón añadir dispositivo-->
  <div class="modal" id="adddevice" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Nuevo dispositivo</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Nombre del dispositivo</label>
              <input type="text" class="form-control" id="name" placeholder="Nombre">
            </div>
            <div class="form-group">
              <label for="width">Coordenada x del dispositivo</label>
              <input type="number" class="form-control" id="width" placeholder="Ancho" min="1">
            </div>
            <div class="form-group">
              <label for="height">Coordenada y del dispositivo</label>
              <input type="number" class="form-control" id="name" placeholder="Alto" min="1">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal botón editar dispositivo-->
  <div class="modal" id="editdevice" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Editar dispositivo X</h4>
        </div>
        <div class="modal-body">
          <form>
            <input type="hidden" id="hidden-id">
            <div class="form-group">
              <label for="name">Nombre del dispositivo</label>
              <input type="text" class="form-control" id="name" placeholder="Nombre">
            </div>
            <div class="form-group">
              <label for="width">Coordenada x del dispositivo</label>
              <input type="number" class="form-control" id="width" placeholder="Ancho" min="1">
            </div>
            <div class="form-group">
              <label for="height">Coordenada y del dispositivo</label>
              <input type="number" class="form-control" id="name" placeholder="Alto" min="1">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/vendor/js/http.js"></script>
  <script src="/app/controllers/instance.js"></script>
</body>
</html>
